
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
<div class="col-xs-12">
    <h1>Pirates</h1>
</div>




<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-primary">
   
        <div class="panel-heading" class="text-center">
            <h2 class="panel-title">Pirates List</h2>
        </div>
                <div class="row">
              <div class="col-xs-3">
              <div class="column_title">Name</div>
               </div> 
             <div class="col-xs-3">
              <div class="column_title">Vessel</div>
               </div> 
             <div class="col-xs-3">
              <div class="column_title">Weapon</div>
               </div> 
                <div class="col-xs-3">
              <div class="column_title">Action</div>
               </div> 


</div>





        <div class="list-group" class="text-left">

                   <ul>
                 
                <li class="list-group-item" ng-repeat="pirate in pirates">
                   
        <div class="col-xs-3"><a href="#/pirates/{{ pirate._id }}">{{ pirate.name }}</a></div>
        <div class="col-xs-3">{{ pirate.vessel }}</div>    
         <div class="col-xs-3">{{ pirate.vessel }}</div>   
     <div class="col-xs-3">     


      <abbr title="Delete">
         
      <button ng-click="deletePirate($index, pirate._id)" type="button"
             class="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </abbr>
    
     
     </div>     

                    </li>
                  
            </ul>
        </div>
    </div>
</div>


</div>




<div class="container-fluid">

<h3>Add a Pirate</h3>
<p class="text-success" ng-show="message">A pirate named {{message}} was added.</p>
<form ng-submit="addPirate(pirate)" name="addform" novalidate="">


    <fieldset class="fieldset">
        <div class="form-group" ng-class="{ 'has-error': addform.pname.$touched && addform.pname.$invalid }">
            <label class="control-label" for="pirate-name">Name</label>
            
            <input type="text" name="pname" ng-model="pirate.name" class="form-control" id="pirate-name"
             placeholder="Name" ng-required="true">
            <p class="text-warning" ng-show="addform.pname.$invalid">You must enter a name.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': addform.pvessel.$touched && addform.pvessel.$invalid }">
            <label for="pirate-vessel">Vessel</label>
            <input type="text" name="pvessel" ng-model="pirate.vessel" class="form-control" id="pirate-vessel" placeholder="Vessel" ng-required="true">
            <p class="text-warning" ng-show="addform.pvessel.$invalid && addform.pvessel.$touched">You must enter a vessel.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': addform.pweapon.$touched && addform.pweapon.$invalid }">
            <label for="pirate-vessel">Weapon</label>
            <input type="text" name="pweapon" ng-model="pirate.weapon" class="form-control" id="pirate-weapon" placeholder="Weapon" ng-required="true">
            <p class="text-warning" ng-show="addform.pweapon.$invalid && addform.pweapon.$touched">You must enter a weapon.</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="addform.$invalid">Add Pirate</button>
    </fieldset>
</form>
</div>